.container{
    position: absolute;
    bottom: 0;
    left: 13%;
}

.first-row {
    display: flex;
    justify-content: start;
    font-size: 25px;

}

.element-in-button {
    width: 70px;
    display: grid;
    justify-items: center;
    border: 2px solid rgb(255, 255, 255);
    color: red;
    background-color: black;
    padding: 8px;
}
.after-click{
    background-color: yellow;
    color: black;
}

.css-letter-cp{
    background-color: red;
    color: white;
}

.js-capslock{
    width: 159px;
}